.countryGallery {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-family: "Josefin Sans", sans-serif;
}

.countryGallery a {
  text-decoration: none;
  color: black;
}

.countryCard {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(232, 211, 185);
  height: 15rem;
  width: 24rem;
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 0 5px black;
}

.countryCard a:hover {
  color: blue;
}

.checkBox {
  position: absolute;
  top: 1.2rem;
  right: 23.7rem;
}

.checkBox i {
  color: rgb(4, 142, 4);
  text-shadow: 0 0 3px rgb(152, 152, 152);
}

.flag {
  max-width: 5rem;
  box-shadow: 0 0 5px black;
  position: absolute;
  top: -0.7rem;
  right: -0.3rem;
}

.cardTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cardTitle h2 {
  margin-bottom: -0.5rem;
}

.cardTitle h4 {
  margin-bottom: 0.5rem;
}

.cardInfo {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.infoRow {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: -0.9rem;
  overflow: hidden;
  width: 22rem;
  white-space: nowrap;
}

.seeMore {
  margin-top: 0.5rem;
}
