/* .infoCard {
  background-color: rgb(232, 211, 185);
  border-radius: 5px;
  width: 90vw;
  padding: 2rem 1rem;
  box-shadow: 0 0 5px black;
  display: flex;
  justify-content: space-around;
}

.countryInfo {
  margin: 0 4rem 0 0;
  width: 60%;
}

.flag {
  margin: 0 0 0 4rem;
  height: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
} */

.checkBox i {
  color: rgb(4, 142, 4);
  text-shadow: 0 0 5px rgb(152, 152, 152);
}
